# -------------------------
# Python
# -------------------------
.venv/
venv/
__pycache__/
*.pyc

# -------------------------
# Node
# -------------------------
node_modules/

# -------------------------
# Environment
# -------------------------
.env

# -------------------------
# Models
# -------------------------
*.pt
*.pkl
*.h5

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS Files
# -------------------------
.DS_Store

# -------------------------
# Generated Project Data
# -------------------------
Backend/uploads/
Backend/data/uploads/
Backend/data/analysis/
Backend/_debug_last.json